extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1= page
        blockquote Commodo consequat in enim reprehenderit cupidatat non eu ex fugiat velit. Aute ea commodo velit ut sint eu laborum. Proident magna sunt ut eiusmod cillum officia. Anim do dolore nulla aliqua anim. Tempor ex nostrud nulla enim ex ut officia incididunt ex tempor. Consectetur laborum amet esse ad id quis. Commodo officia aliqua sit ex irure non nisi exercitation ut.

        P laborum ad commodo ex nostrud laborum. Cillum excepteur sit fugiat aliquip incididunt incididunt adipisicing veniam qui deserunt aliqua. Adipisicing culpa ullamco magna minim consequat reprehenderit tempor magna cupidatat nisi velit. Quis ipsum mollit consequat officia nostrud aliquip.

        p ea culpa elit aute. Et nulla voluptate esse est exercitation dolore commodo ad id veniam. Tempor eu veniam in aliquip duis eiusmod laboris mollit consequat aliquip proident reprehenderit. Laborum voluptate velit sint velit duis et ipsum tempor in. Cupidatat eu exercitation eu adipisicing sit amet. Tempor culpa duis mollit ea do excepteur esse exercitation ex labore esse laborum.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row 
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2 Seguridad   
          P Elit aliqua eiusmod elit minim in adipisicing nulla exercitation. Qui nisi sunt voluptate anim. Enim est ad dolor culpa culpa.

        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
          h2 Mejores Destinos   
          P Elit aliqua eiusmod elit minim in adipisicing nulla exercitation. Qui nisi sunt voluptate anim. Enim est ad dolor culpa culpa.

        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2 Los Mejores Precios
          P Elit aliqua eiusmod elit minim in adipisicing nulla exercitation. Qui nisi sunt voluptate anim. Enim est ad dolor culpa culpa.        